build/module/lib
/dist
/docs
/src
/system
/test
/node_modules
/vendor

.DS_Store
.jshintrc
.settings
specrunner.html
config.js
Gruntfile.js
karma-test-shim.js
karma.conf.js
rollup.config.js
systemjs.config.js
.vscode/settings.json
tsconfig.json
tsconfig.module.json
tsconfig.test.json
tslint.json
typedoc.json
CONTRIBUTING.md
STANDARDS.md
.travis.yml
